.button.button-primary {
  /*font-size: 0.9em;*/
  background-color: green;
  border-color: green;
}

body {
  background: url(/bg.jpg) no-repeat center center fixed;
  background-size: cover;
  background-repeat: no-repeat;;
  background-position: center;
}

.song-search-results, .playlist-time {
  padding-top: 8px;
  color: #000000;
}

#container {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
}

/* round edges of div */
