body {
  background: url(/bg.jpg) no-repeat center center fixed;
  background-size: cover;
  background-repeat: no-repeat;;
  background-position: center;
}

.container {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
}

.jumbotron {
  background-color: transparent;
}

li {
  list-style-type: none;
}
