body {
  background: url(/bg-2.jpg) no-repeat center center fixed;
  background-size: cover;
  background-repeat: no-repeat;;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.6);
}

.container {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 15px;
  /*width: 95%;*/
}

.the-better-container {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 15px;
  padding: 0px 10px;
}

.jumbotron {
  background-color: transparent;
}

.song-results-table {
  max-height: 360px;
  overflow-y: auto;
}

/*.big-container {
  padding: 5px;
}*/

li {
  list-style-type: none;
}

#musicPlayer {
  position: static;
  top: 20%;
  left: 30%;
}

.col-md-3 {
  /*background-color: purple;*/
}

.col-md-6 {
  /*background-color: red;*/
}
